# Ignore virtual environments
venv/
.env.dev
.env.test
.env.prod

# Ignore IDE files
.idea/

# Ignore Alembic migrations and configuration
alembic.ini

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs
*.log
logs/

# Ignore temporary files
*.tmp
*.temp

# Ignore test files
.pytest_cache/