# Игнорировать виртуальные окружения
venv/
.env.dev
.env.test
.env.prod

# Игнорировать файлы IDE
.idea/

# Игнорировать файлы миграций и конфигурации Alembic
alembic.ini

# Игнорировать кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать логи
*.log
logs/

# Игнорировать временные файлы
*.tmp
*.temp

# Игнорировать файлы тестов
.pytest_cache/
